html
  head
    title=title
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
    style(type='text/css').
      .body {
        margin-top: 40px;
        background-color: #333;
      }
      .div {
        margin: 30px;
      }
    link(href='assets/css/bootstrap-responsive.min.css', rel='stylesheet')
  body
    div.container
      div.jumbotron
        h1 Simple Node.js App
        h2 Congratulations!!

          p Welcome to AWS Hands On!
          p Your Node.js application is now running on your EC2.
